boot.img
*.img
dist/
out/
kernel/
ak3/
runs.json
gki_logs/
legacy_logs/
logs/
gki_logs.zip
legacy_logs.zip
*.log
error_gki.txt
error_legacy.txt
Nyimpenn_log/
booting/
log_tele/
ekstrak_flashable/
platform-tools/
platform-tools.zip
temp_*/